@font-face {
  font-family: 'wpmozo';
  src:  url('../fonts/wpmozoicon.eot?8jm6d5');
  src:  url('../fonts/wpmozoicon.eot?8jm6d5#iefix') format('embedded-opentype'),
    url('../fonts/wpmozoicon.ttf?8jm6d5') format('truetype'),
    url('../fonts/wpmozoicon.woff?8jm6d5') format('woff'),
    url('../fonts/wpmozoicon.svg?8jm6d5#wpmozo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



.wpmozo-ale-brandicon:after {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-size: 22px;
	font-family: 'wpmozo' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e900";
	color: #00de7c;
	position: absolute;
	top: 0;
	right: 3%;
}
